<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PremLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PremLogViewer.Properties.Settings>
            <setting name="SqlHost" serializeAs="String">
                <value>ServerName</value>
            </setting>
            <setting name="SqlDatabase" serializeAs="String">
                <value>DatabaseInstance</value>
            </setting>
            <setting name="WindowsLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="LogUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </PremLogViewer.Properties.Settings>
    </userSettings>
</configuration>